
Third Semester/Explanable AI/2nd Project/data/cifar-10-python.tar.gz
Third Semester/Explanable AI/2nd Project/ex2_cifar10_aaron/data/cifar-10-python.tar.gz
Third Semester/Computer Vision/Bonus Assignment/stacks/stack1.tif
Third Semester/Computer Vision/Bonus Assignment/stacks/stack2.tif
